/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  background: #444343;
  color: #ffffff;
}
.container {
  margin: 0% auto;
  width: 35%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

label {
  margin: 2.5% 0%;
  color: #ffffff;
}
label.error {
  color: #c21e1e;
}
input {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
input.error {
  border: 2px solid #c21e1e;
  color: #ffffff;
}
button {
  padding: 1px;
  width: 50%;
  margin: 2.5% auto;
  justify-self: center;
}
.submitBtn {
  background: #444343;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px;
}
#hidden {
  display: none;
}
.thankYou {
  text-align: center;
}
